body{
    margin:0;
    background:#000;

    display:flex;
    justify-content:center;
    align-items:center;

    width:100vw;
    height:100vh;

    overflow:hidden;

    font-family:sans-serif;
}

.meter{

    width:360px;
    height:360px;

    border-radius:50%;

    position:relative;

    background:
        radial-gradient(circle at center,
        #111 0%,
        #000 75%);

    border:10px solid #2a2a2a;

    box-shadow:
        0 0 40px rgba(0,255,255,0.15),
        inset 0 0 30px rgba(255,255,255,0.05);
}

/* =========================
   現在速度針
========================= */

.needle{

    position:absolute;

    width:6px;
    height:130px;

    left:50%;
    bottom:50%;

    transform-origin:bottom center;

    background:
        linear-gradient(to top,
        #ff0000,
        #ff6666);

    border-radius:20px;

    box-shadow:
        0 0 20px red;

    z-index:5;
}

/* =========================
   最高速度針
========================= */

.maxNeedle{

    position:absolute;

    width:4px;
    height:115px;

    left:50%;
    bottom:50%;

    transform-origin:bottom center;

    background:
        linear-gradient(to top,
        cyan,
        #8fffff);

    border-radius:20px;

    opacity:0.9;

    box-shadow:
        0 0 15px cyan;
